*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(201, 231, 250);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    border: 1px solid black;
    width: 450px;
    height: fit-content;
    padding: 0 65px;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

h3{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 29px;
}

.joke{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    margin-bottom: 33px;
}

.btn{
    font-size: medium;
    font-weight: bold;
    background-color: rgb(43, 190, 196);
    border-radius: 3px;
    border: 1px solid rgb(7, 44, 250) ;
    text-align: center;
    padding: 4px;
    margin-left: 35%;
    margin-bottom: 13px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.btn:hover{
    background-color: rgb(58, 209, 214);
}
